.standard-paragraph {
  background: rgb(241, 120, 120);
  font-family: "Verdana", "DejaVu Sans", sans-serif;
}

.large-paragraph {
  font-size: 24px;
}

#number-2 {
    color: rgb(3, 3, 243);
    font-size: 36px;
}

#number-4 {
    background-color: rgb(126, 223, 126);
    font-size: 24px;
    font-weight: bold;
}