* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 10px;
  margin: 20px auto;

}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px;
}

.content {
  background: #e3f4ff;
  display: block;
  margin:10px;
}

.button-container {
  background: #e3f4ff;
  display:block;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 10px auto;
  padding: 10px;
}